<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - Project</title>
    <link rel="stylesheet" href="/css/projects.css">
</head>
<body>
<header>
  <h1>Edit Project</h1>
  <a class="logout-btn" href="/logout">Logout</a>
</header>

<main>
  <form action="/projects/updateProject/<%= @project["id"] %>" method="post">
    <input type="hidden" name="_method" value="put">

    <input type="hidden" name="user_id" value="<%= @project["user_id"] %>" required>

    <label>Project Name:</label>
    <input type="text" name="name" value="<%= @project["name"] %>" required>

    <label>Description:</label>
    <textarea name="description" required><%= @project["description"] %></textarea>

    <label>Share with Email:</label>
    <input type="email" name="email_origin" value="<%= @project["email_origin"] %>">

    <button type="submit">Update Project</button>
  </form>
</main>
</body>
</html>